.link-block {
  margin-top: 5rem;
  margin-bottom: 5rem;

  @include media($xmd) {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  &__wrap {
    $row: &;
    @include clearfix;
    max-width: $xl;
    margin: 0 auto;

    @include media($xmd) {
      &.xmd-up-2 {
        #{$row} {
          &__item {
            width: 50%;
          }
        }
      }
    }

    @include media($lg) {
      &.lg-up-3 {
        #{$row} {
          &__item {
            width: 33.333333333%;
          }
        }
      }
    }

    &__item {
      display: block;
      float: left;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-bottom: 4rem;

      &__link {
        display: block;
        position: relative;
        text-decoration: none;
        margin-bottom: 4rem;

        &__image {
          @include cover;
          position: relative;
          height: 35rem;
          width: 100%;
          margin-bottom: 2rem;
        }

        &__content {
          position: relative;
          z-index: 1;

          &__heading {
            color: $primary;
            font-weight: bold;
            margin-bottom: 2rem;
          }

          &__body {
            color: $black;
          }
        }
      }
    }
  }
}
